body {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    margin: 0 0 0 -2px;
    position: fixed;


}

#particles-js

{
    background-color: steelblue;


}

h1
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

.button {
    background: steelblue;
    border-radius: 50px;
    text-decoration: none;
    position: absolute;
    top: 70%;
    left: 70%;
    transform: translate(-380%, -380%);

    cursor: pointer;
    border: 2px solid black;
}

    .button a {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 780px) {

  
   #particles-js {
    width: 1550px;
   }

   
   h1 {
    top:35%;
    right: 15%;
   }
   
   .button {
    top: 65%;
    left: 95%;
    border-radius: 20%;
   }

    
    


 
}
